
  <h1>Hello {{user.name}}, Finding all waterintakes near you</h1>


<div id="map"></div>

<h2> List of intakes </h2>

<wi-type-select ng-model = "search.type"> </wi-type-select>


  <div ng-repeat='intake in intakes | type:search.type | orderBy: distance' class='row'>
    <div class='col-sm-2 form-group'>
    <svg width="50" height="50">

    <defs>
      <marker id="Arrow"
               markerWidth="5" markerHeight="5" viewBox="-6 -6 12 12"
              refX="-2" refY="0"
              markerUnits="strokeWidth"
              orient="auto">
         <polygon points="-2,0 -5,5 5,0 -5,-5" fill="blue" stroke="black" stroke-width="2px"/>
     </marker>
    </defs>

    <path d="M{{25-15*direction(intake).y}},{{25+15*direction(intake).x}} L{{25+5*direction(intake).y}},{{25-5*direction(intake).x}}" style="stroke:blue; stroke-width: 2px; fill: none; marker-end: url(#Arrow);"/>

    </svg>
  </div>
    <div class='col-sm-2 form-group'> {{distance(intake) | distance}}  </div>
    <div class='col-sm-2 form-group'> {{intake.location}}  </div>
    <div class='col-sm-6 form-group'> Type: <span class="label label-default"> {{intake.type.name}} </span> </div>

  </div>
